@tailwind utilities;

.title{
    @apply text-[var(--primary-dark)] text-5xl font-bold mb-20 pb-10 flex-nowrap;
    display: inline-block ;
    flex-direction: column;
    position: relative;
    
}

.title::after {
    content: "";
    @apply absolute left-0 bottom-0;
    width: 100%;
    height: 50px;
    background: url('/under-line.png') no-repeat center center;
    background-size: contain;
  }